# Build results
bin/
obj/
out/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# Visual Studio
.vs/

# NuGet packages
*.nupkg
*.snupkg
packages/
# Uncomment if you have a packages directory
# !packages/build/

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper

# DotCover
*.dotCover

# Rider
.idea/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# Others
*.log
*.tlog
*.cache
*.pdb

# Azure Pipelines
.vsts/

# Local test results
TestResults/